<body>
    <div class="ui fixed top menu">
        <a href="javascript:void(0)" class="icon active item" id="hideToggle"><h3><i class="chevron left icon"></i></h3></a>
        <a href="javascript:void(0)" class="icon active item" id="showToggle"><h3><i class="chevron right icon"></i></h3></a>
        <a href="dashboard.html" data-toggle="slide" class="item"><h3>HOMIE</h3></a>
        <div class="menu right">
            <a class="icon item pointer" data-toggle="popup" data-content="#mail" data-position="bottom right"></a>
            <div id="mail" class="ui fluid popup" style="min-width:400px;padding-top:30px;">
                <div class="ui divided items">
                    <div class="item">
                        </div>
                    </div>
                </div>
          </div>
            <a class="icon item pointer" data-toggle="popup" data-content="#notif" data-position="bottom right"><i class="bell icon"></i></a>
            <div id="notif" class="ui fluid popup" style="min-width:400px;padding-top:30px;">
                <div class="ui divided items">
                    <div class="item">
                        <div class="content">
                            <i class="bell icon"></i> Illum ratione aliquam veniam voluptates porro,
                            <div class="extra content">
                                Sunday, 20-03-2016
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <i class="bell icon"></i> Facere, quas maxime at consequuntur
                            <div class="extra content">
                                Sunday, 20-03-2016
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <i class="bell icon"></i> Officiis ex sint distinctio.
                            <div class="extra content">
                                Sunday, 20-03-2016
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <a href="" class="ui right floated tiny button">All Notification</a>
            </div>
            <a class="icon item pointer" data-toggle="popup" data-content="#user" data-position="bottom right"><img src="assets/img/people_4.jpg" class="ui avatar image" alt=""></a>
            <div id="user" class="ui popup">
                <div class="ui secondary vertical menu">
                    <div class="header item">USER MENU</div>
                    <a href="" class="item">Profile <i class="user icon"></i></a>
                    <a href="" class="item">Groups <i class="users icon"></i></a>
                    <a href="" class="item">Settings <i class="settings icon"></i></a>
                    <div class="ui divider"></div>
                    <a href="index.html" class="item">Logout <i class="sign out icon"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="pusher">
        <div class="ui fluid container">
            <div class="ui two column grid">
                <div class="side menu" id="sideMenu">
                    <div align="center" class="profile">
                        <br>
                        <a href=""><img src="assets/img/people_4.jpg" alt="Marry Doe" class="ui circular image" width="150px"></a>
                        <div class="ui white header">Marry Doe</div>
                        <div class="ui divider"></div>
                    </div>
                    <div class="ui fluid vertical menu" id="verticalMenu">
                        <a href="dashboard.html" class="item"><span>Meus imóveis</span></a>
                     </div>
                </div>
                <div class="sixteen wide column" id="content">
                    <div class="ui one column stackable grid ui form">

                        <div class="column">
                            <div class="ui segments">
                                <img src="img/casaa3.jpg" style="width: 40%" >
                            </div>
                            <div class="ui segments">
                                <img src="img/casadentro2.jpg" style="width: 30%" >
                                <img src="img/casa8.jpg" style="width: 30%" height="184px">
                                <img src="img/casaa4.jpg" style="width: 30%" height="184px" >
                                <div class="ui segment">


                              <div class="ui three column very relaxed grid">
                                  <div class="column">
                                    <img class="ui mini circular image" src="img/mulher.jpg">
                                    <div class="content">
                                    <div class="ui sub header">Molly</div>Estudante de Psicologia </div>
                                  </div>
                                  </div>
                                    <div class="ui three column very relaxed grid">
                                        <div class="column">
                                            <img class="ui mini circular image" src="img/mulher.jpg">
                                            <div class="content">
                                                <div class="ui sub header">Molly</div>Estudante de Psicologia </div>
                                        </div>
                                    </div>

                                </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/semantic.min.js"></script>
    <script type="text/javascript" src="assets/js/nicescroll.min.js"></script>

    <!-- Include AmCharts -->
    <script type="text/javascript" src="assets/js/amcharts/amcharts.js"></script>
    <script type="text/javascript" src="assets/js/amcharts/serial.js"></script>
    <script type="text/javascript" src="assets/js/amcharts/themes/light.js"></script>

    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/graph.js"></script>
</body>
</html>
