    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a class="active item">Home</a><a class="item">Work</a><a class="item">Company</a><a class="item">Careers</a>
        <div class="right menu">
          <div class="item">
            <a class="ui button">Log in</a>
          </div>
          <div class="item">
            <a class="ui primary button">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
    <!--Sidebar Menu-->
    <div class="ui vertical inverted sidebar menu">
      <a class="active item">Home</a><a class="item">Work</a><a class="item">Company</a><a class="item">Careers</a><a class="item">Login</a><a class="item">Signup</a>
    </div>
    <!--Page Contents-->
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">
          <div class="ui container">
              <div class="ui large secondary inverted pointing menu">
                  <div class="right item">
                      <a class="ui black button" href='register'>Cadastre-se </a>
                      <a class="ui black button" href='login'>Login</a>
                  </div>
              </div>
          </div>
          <div class="ui text container">
              <h1 class="ui inverted header">HOMIE</h1>
              <h2>Locação de Imóveis para Estudantes Federais na Região de SC</h2>
          </div>
      </div>
      <div class="ui vertical stripe segment">
          <div class="ui middle aligned stackable grid container">
              <div class="row">
                  <div class="eight wide column">
                      <h3 class="ui header">
                          A fim de alugar um imóvel ou até mesmo dividir seu aluguel com um colega?
                      </h3>
                      <p>
                          Homie lhe ajudará a sulucionar este problema. Aqui vocé pode dividir seu aluguel com um amigo ou até mesmo alugar um imovel apenas para você.
                      </p>
                      <h3 class="ui header">
                          Procurando um local para colocar seu imóvel para alugar?
                      </h3>
                      <p>
                          Homie também facilita este processo. Possibilitando oferecer o seu imével para estudantes de Universidades Federais.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="ui inverted vertical footer segment">
          <div class="ui container">
              <div class="ui stackable inverted divided equal height stackable grid">
                  <div class="three wide column">
                      <h4 class="ui inverted header">
                          Contato
                      </h4>
                      <div class="ui inverted link list" >
                          <a class="item" href="homepage.html#"> homie.locar@gmail.com</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <style type="text/css">
      .hidden.menu {
        display: none;
      }
      
      .masthead.segment {
        min-height: 600px;
        padding: 1em 0em;
      }
      .masthead .logo.item img {
        margin-right: 1em;
      }
      .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
      }
      .masthead h1.ui.header {
        margin-top: 2em;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
      }
      .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
      }
      
      .ui.vertical.stripe {
        padding: 8em 0em;
      }
      .ui.vertical.stripe h3 {
        font-size: 2em;
      }
      .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
        margin-top: 3em;
      }
      .ui.vertical.stripe .floated.image {
        clear: both;
      }
      .ui.vertical.stripe p {
        font-size: 1.33em;
      }
      .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
      }
      
      .quote.stripe.segment {
        padding: 0em;
      }
      .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
      }
      
      .footer.segment {
        padding: 5em 0em;
      }
      
      .secondary.pointing.menu .toc.item {
        display: none;
      }
      
      @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
          display: none !important;
        }
        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
          display: none;
        }
        .secondary.pointing.menu .toc.item {
          display: block;
        }
        .masthead.segment {
          min-height: 350px;
        }
        .masthead h1.ui.header {
          font-size: 2em;
          margin-top: 1.5em;
        }
        .masthead h2 {
          margin-top: 0.5em;
          font-size: 1.5em;
        }
      }
    </style>
    <script>
      $(document)
        .ready(function() {
          // fix menu when passed
          $('.masthead')
            .visibility({
              once: false,
              onBottomPassed: function() {
                $('.fixed.menu').transition('fade in');
              },
              onBottomPassedReverse: function() {
                $('.fixed.menu').transition('fade out');
              }
            })
          ;
      
          // create sidebar and attach to menu open
          $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
          ;
        })
      ;
    </script>
