<div class="filtro" style="text-align: center">
    <div class="ui horizontal divider">imóveis perto de sua universidade</div>
    <a class="ui primary button" href='../dashboard/imovel/editar'>Novo Imóvel</a>
    <a class="black ui button" href='../'>Todas</a>
    <a class="black ui button" href='../dashboard/casas'>Casas</a>
    <a class="black ui button" href='../dashboard/apart'>Apartamentos</a>
    <a class="black ui button" href=''>Kitnets</a>
    <a class="black ui button" href='../dashboard/quartos'>Quartos</a>
    <div class="">
    </div>
</div>
<div class="ui horizontal divider"></div>
<div class="ui two column stackable grid">
    <div class="ui link cards">
        <!-- BEGIN BLOCK_IMOVEIS -->
        {IMOVEIS}
        <!-- END BLOCK_IMOVEIS -->
    </div>
</div>
<div class="ui divider"></div>
<div align="center"></div>